@using WellnessClimbingWall.Auth
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using System.Security.Claims

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<form asp-controller="Account" asp-action="Logout" id="logoutForm"
      method="post" class="navbar-right">
    <input type="submit" value="Logout" />
</form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a class="nav-link text-warning" id="registerLink" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a class="nav-link text-warning" id="loginLink" asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}


