@model WellnessClimbingWall.Models.Patron

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<h4>Patron</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeIn" class="control-label"></label>
                <input asp-for="TimeIn" class="form-control" />
                <span asp-validation-for="TimeIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Certifications" class="control-label"></label>
                <input asp-for="Certifications" class="form-control" />
                <span asp-validation-for="Certifications" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PatronView">Back to List</a>
</div>

