@{
}
<style>
    button {
        margin: 10px;
    }
</style>

<h1> Admin Page</h1>


<div>
    <button type="button"
            title="Register"
            class="form-control">
        Change Staff Password
    </button>
</div>

<div>
    <button type="button"
            title="Register"
            class="form-control">
        Change Route Setter Password
    </button>
</div>

<div>
    <button type="button"
            title="Register"
            class="form-control">
        View Patron List
    </button>
</div>


