@{
    ViewData["Title"] = "Login";
}
<body style="background-color:blue;">
<h2 style="text-align:center;color:gold">Login</h2>


<form style="background-color:gold;color:black;text-align:center;" action="/action_page.php">
  <br><label for="uname">Username:</label><br>
  <input type="text" id="uname" name="uname"><br>
  <label for="pass">Password:</label><br>
  <input type="text" id="pass" name="pass"><br><br>
  <input type="submit" value="Submit"><br><br>
</form>

</body>