@model Login


<body style="background-color: #ededed">
    <br>
    <h2 style="text-align:center">Login</h2> 
    <form style="color:black;text-align:center;" action="/LoginController.cs">
        <br><label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname"><br>
        <label for="pass">Password:</label><br>
        <input type="password" id="pass" name="pass"><br><br>
        <input type="submit" value="Submit"><br><br>
    </form>
</body>